{% extends "blog/base.html" %}

{% block content %}

    <div class="news">
        <div class="container-fluid text-center">
            <h2>Поиск информации об организации по данным ФНС</h2>
            <form action="" method="get">
                <div class="row">
                    {#                <input id="orgName" type="text" name="orgName" class="form-control col-5" placeholder="Введите название организации">#}
                    <div class="col-sm-8">
                        <input id="INN" name="INN" type="text" class="form-control"
                               placeholder="Введите ИНН организации">
                    </div>
                    <div class="col-sm-4">
                        <input type="submit" class="btn btn-dark col-sm-5" id="searchButton" value="Поиск">

                    </div>
                </div>
            </form>
        </div>


        <div class="col">
            <hr>
            {% if name %}
                <p><b>Полное наименование организации:</b> {{ name }} </p>
                <p><b>ИНН организации: {{ INN }}</b></p>

                <p><b>Количество работников:</b> {{ sumWorker }} </p>

                {% if UchKGN == 1 %}
                    <p><b>Признак участника (ответственного участника) консолидированной группы налогоплательщиков:</b>
                        участник консолидированной группы налогоплательщиков</p>
                {% endif %}
                {% if UchKGN == 2 %}
                    <p><b>Признак участника (ответственного участника) консолидированной группы налогоплательщиков:</b>
                        ответственный участник консолидированной группы налогоплательщиков</p>
                {% endif %}

                {% if ESNH == 0 %}
                    <p><b>Признак применения системы налогообложения в виде единого сельскохозяйственного налога:</b>
                        Нет</p>
                {% endif %}
                {% if ESNH == 1 %}
                    <p><b>Признак применения системы налогообложения в виде единого сельскохозяйственного налога:</b> Да
                    </p>
                {% endif %}

                {% if USN == 0 %}
                    <p><b>Признак применения упрощенной системы налогообложения:</b> Нет</p>
                {% endif %}
                {% if USN == 1 %}
                    <p><b>Признак применения упрощенной системы налогообложения:</b> Да</p>
                {% endif %}

                {% if ENVD == 0 %}
                    <p><b>Признак применения системы налогообложения в виде единого налога на вмененный доход:</b> Нет
                    </p>
                {% endif %}
                {% if ENVD == 1 %}
                    <p><b>Признак применения системы налогообложения в виде единого налога на вмененный доход:</b> Да
                    </p>
                {% endif %}

                {% if SRP == 0 %}
                    <p><b>Признак применения системы налогообложения при выполнении соглашения о разделе продукции:</b>
                        Нет</p>
                {% endif %}
                {% if SRP == 1 %}
                    <p><b>Признак применения системы налогообложения при выполнении соглашения о разделе продукции:</b>
                        Да</p>
                {% endif %}

            {% endif %}
        </div>
    </div>

{% endblock %}